{% extends "tradingbookapp/base.html" %}

{% block titulopagina%}
The Good Trader - Challenge
{%endblock%}
{%block contenidopagina%}


<section class="bg-light py-5 border-bottom">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <div class="row gx-5 justify-content-center">
                    <h1>Proximos Trading Challenge:</h1>            
                    

                </div>
                
                <table class="table">

                    <thead>
                        <th scope="col">Fecha</th>
                        <th scope="col">Objetivo</th>
                        <th scope="col">Premio</th>
                        <th scope="col">Accept Challenge</th>
                    </thead>
                    <ul class= "list-group list-group-numbered">
                        <tr>
                            <td>Julio 2022</td>
                            <td><span class= "badge bg-danger rounded-pill>">50K USD</span></td>
                            <td>Trading Account : 100K</td>
                            <td><a class="btn btn-success" href="https://www.thegoodtrader.co">Accept</a></td>
                            
                        </tr>
                        <tr>
                            <td>Semptiembre 2022</td>
                            <td><span class= "badge bg-danger rounded-pill>">50K USD</span></td>
                            <td>Trading Account : 100K</td>
                            <td><a class="btn btn-success" href="https://www.thegoodtrader.co">Accept</a></td>
                            
                        </tr>
                        <tr>
                            <td>Diciembre 2022</td>
                            <td><span class= "badge bg-danger rounded-pill>">100K USD</span></td>
                            <td>Trading Account : 250K + 5000 USD Cash!</td>
                            <td><a class="btn btn-success" href="https://www.thegoodtrader.co">Accept</a></td>
                        </tr>
                    </ul>
                </table>


            </div>
        </div>
    </div>
    



</section>

{%endblock%}