{% extends "tradingbookapp/base.html" %}

{% block titulopagina%}
The Good Trader - Home
{%endblock%}
{%block contenidopagina%}
        

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">About</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
 
        <!-- Integrantes section-->
           
        <section class="py-5">
            <div class="container px-5">
                <h1 class="fw-bolder fs-5 mb-4">Integrantes</h1>
                <!-- Integrantes 1-->
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row gx-0">
                            <div class="col-lg-6 col-xl-5 py-lg-5">
                                <div class="p-4 p-md-5">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Programador</div>
                                    <div class="h2 fw-bolder">Fernando Parra </div>
                                    <p>28 años, Administrador de empresas e ingeniero mecatronico, nacido en la ciudad de barranquilla Colombia, amante de la tecnologia y los mercados financieros, Trader profesional en Hold capital Group </p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" ><img src='/media/avatar/fernando.jpg' class=  alt="..." width="400" height="400"></div></div>
                        </div>
                    </div>
                </div>
                <!-- Integrante 2 -->
                <br>
                <br>
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row gx-0">
                            <div class="col-lg-6 col-xl-5 py-lg-5">
                                <div class="p-4 p-md-5">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Programador</div>
                                    <div class="h2 fw-bolder">Felipe Espinosa </div>
                                    <p>tengo 18 años, me gradué del colegio Gimnasio Fontana en Bogota Colombia. Actualmente estoy estudiando en la Universidad de los Andes Administración de Empresas. Me gusta mucho jugar fútbol, estuve practicando este deporte durante gran parte de mi vida donde jugué muchos torneos internacionales. Actualmente pertenezco al grupo de automovilismo universitario de la Universidad de los Andes llamado CMU (Club Motor Uniandes). Tengo un negocio de ganadería y otros pequeños negocios.
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" ><img src='/media/avatar/generica.png' class=  alt="..." width="400" height="400"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        
{% endblock %}