<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Trades</title>
    
</head>
<body>
    <h2>Detalle Trade:</h2>
    <p> Fecha: {{trade.fecha}} </p>
    <p> Simbolo: {{trade.simbolo}} </p>
    <p> Posicion: {{trade.get_posicion_display}} </p>
    <p> Entrada: {{trade.entrada}} </p>
    <p> Target: {{trade.target}} </p>
    <p> Stop: {{trade.Stop}} </p>
    <a href= "{% url 'Trades_list' %}">Regresar a lista trades </a>

</body>
</html>